<div>
  <button type="button" class="pi pi-moon color-switcher" (click)="toggleDarkMode()"></button>
  <router-outlet></router-outlet>

  <footer>
    <p>&copy; 2025 earl. All rights reserved.</p>
    <nav>
      <a href="https://github.com/EEarlll/wikipedia-summarized" target="_blank"
        >Github</a
      >
      |
      <a href="https://ai.google.dev/" target="_blank">Powered By Gemini 2.0</a>
      &
      <a href="https://www.mediawiki.org/wiki/API" target="_blank">MediaWiki</a>
    </nav>
  </footer>
</div>
