<div class="container">
  <div class="child">
    <h1>Wikipedia </h1>
    <h1>Summarized</h1>
    <p-iconfield class="search-container">
      <p-inputicon styleClass="pi pi-search" />
      <input
        type="text"
        pInputText
        placeholder="Search"
        (keydown.enter)="search($event)"
        #searchInput
      />
    </p-iconfield>
    <div class="button-container">
      <p-button
        label="Search"
        class="btn"
        (click)="search($event, searchInput.value)"
      />
      <p-button label="I'm Feeling Lucky" severity="secondary" class="btn" />
    </div>
  </div>
</div>
